.App {
  text-align: center;
  background-color:#247BA0;
  min-height: 1000px
}

.message {
  text-align: center;
  background-color:#F25F5C;
  font-family: 'Major Mono Display', monospace;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap:.2%;
  column-gap:.2%;
  background-color: #247BA0;
  font-family: 'Major Mono Display', monospace;
  align-items: center;
  font-size: 55px;
  margin-left:25%;
  margin-right:50%;
  border-radius:5%;
  width:50%;
  max-width: auto;
  max-height: auto;
  height:50%;

}

.players{
  font-family: 'Major Mono Display', monospace;
  background-color:
}

.button{
  background-color: #70C1B3
}

.team{
  background-color: #F25F5C;
  font-family: 'Major Mono Display', monospace;
}

.grid-item {
  border: 2px solid black;
  min-height: 120px;
  max-width: 120px;
  max-height: 120px;
  width: auto;
  border-radius:10%;
  background-color: #70C1B3;
}

.Header{
  font-size: 60px;
  background-color: #247BA0;
  font-family: 'Major Mono Display', monospace;
  border-radius: 2px;
}

.Button{
  background-color: #70C1B3;
  font-family: 'Major Mono Display', monospace;
  border: 2px solid black;
  border-color: black;
  margin-bottom: 3px;

}
.selector{
  align-items: center;
  background-color: #F25F5C;
  font-family: 'Major Mono Display', monospace;
  max-width: 300px;
  text-align: center;
  margin-left: 40%;
  margin-right: 38%;
  margin-top: 5px;
  border: 2px solid black;
  border-radius: 10%;
}
